
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
  font-family: "Dana-Thin";
  src: url(../fonts/dana/Dana-Thin.woff);
}

@font-face {
  font-family: "Dana-Light";
  src: url(../fonts/dana/Dana-Light.woff);
}

@font-face {
  font-family: "En-Regular";
  src: url(../fonts/english/NunitoSans_10pt-Regular.ttf);
}

@font-face {
  font-family: "En-Medium";
  src: url(../fonts/english/NunitoSans_10pt-Medium.ttf);
}
@font-face {
  font-family: "Dana-Regular";
  src: url(../fonts/dana/Dana-Regular.woff);
}

@font-face {
  font-family: "Dana-Medium";
  src: url(../fonts/dana/Dana-Medium.woff);
}
@font-face {
  font-family: "Dana-Demi";
  src: url(../fonts/dana/Dana-Demi.woff);
}

@font-face {
  font-family: "Dana-Bold";
  src: url(../fonts/dana/Dana-Bold.woff);
}

@font-face {
  font-family: "Dana-ExtraBold";
  src: url(../fonts/dana/Dana-ExtraBold.woff);
}

@font-face {
  font-family: "Dana-Black";
  src: url(../fonts/dana/Dana-Black.woff);
}

body {
  @apply font-Dana-Regular max-w-[1920px] mx-auto;
}

.light {
  @apply bg-[#F3F4F6];
}

.dark {
  @apply bg-[#111827] text-white;
}

button {
  @apply select-none;
}

.form {
  @apply lg:w-[440px] child:w-full p-6 dark:bg-[#2F3542] bg-white rounded-2xl  lg:max-h-max flex flex-col  w-full ;
}

.active-animation {
  @apply duration-150 hover:bg-opacity-90 active:scale-[0.98] active:bg-opacity-100;
}

.form-input {
  @apply w-full block h-12 my-3 dark:bg-[#252a35] outline-none bg-[#f1f1f16c] rounded-md px-5;
}


.form-input::placeholder {
  direction: rtl !important;
}

.Toastify {
  @apply font-Dana-Regular;
}

button.button {
  @apply flex items-center gap-1 rounded-md px-4 h-9 duration-150 hover:bg-opacity-70 transition-all 
}

button.button.primary {
  @apply bg-green-500 text-white
}

button.button.info {
  @apply bg-yellow-500 text-white
}


button.button.light {
  @apply bg-sky-500 text-white
}

button.button.secondary {
  @apply bg-[#272727] text-white
}


button.button.danger {
  @apply bg-red-600 text-white
}



div.card-component.information-card {
  @apply h-[124px] bg-white w-full p-4 first:rounded-r-3xl border-x first:border-r-transparent last:border-l-transparent last:rounded-l-3xl
}