@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
  font-family: "Dana-Thin";
  src: url(../fonts/dana/Dana-Thin.woff);
}

@font-face {
  font-family: "Dana-Light";
  src: url(../fonts/dana/Dana-Light.woff);
}

@font-face {
  font-family: "En-Regular";
  src: url(../fonts/english/NunitoSans_10pt-Regular.ttf);
}

@font-face {
  font-family: "En-Medium";
  src: url(../fonts/english/NunitoSans_10pt-Medium.ttf);
}
@font-face {
  font-family: "Dana-Regular";
  src: url(../fonts/dana/Dana-Regular.woff);
}

@font-face {
  font-family: "Dana-Medium";
  src: url(../fonts/dana/Dana-Medium.woff);
}
@font-face {
  font-family: "Dana-Demi";
  src: url(../fonts/dana/Dana-Demi.woff);
}

@font-face {
  font-family: "Dana-Bold";
  src: url(../fonts/dana/Dana-Bold.woff);
}

@font-face {
  font-family: "Dana-ExtraBold";
  src: url(../fonts/dana/Dana-ExtraBold.woff);
}

@font-face {
  font-family: "Dana-Black";
  src: url(../fonts/dana/Dana-Black.woff);
}

body {
  @apply font-Dana-Regular max-w-[1920px] mx-auto;
}

.light {
  @apply bg-[#F3F4F6];
}

.nav-link {
  @apply h-10 flex items-center justify-between duration-150
}


.only-icon {
  @apply  flex items-center justify-center
}

.dark {
  @apply bg-dark-900 text-white;
}

button {
  @apply select-none;
}

.form {
  @apply lg:w-[440px] child:w-full p-6 dark:bg-[#2F3542] bg-white rounded-2xl  lg:max-h-max flex flex-col  w-full;
}

.active-animation {
  @apply duration-150 hover:bg-opacity-90 active:scale-[0.98] active:bg-opacity-100;
}

.form-input {
  @apply w-full block h-12 my-3 dark:bg-[#252a35] outline-none bg-[#f1f1f16c] rounded-md px-5;
}

.form-input::placeholder {
  direction: rtl !important;
}

.Toastify {
  @apply font-Dana-Regular;
}

button.button {
  @apply flex items-center gap-1 rounded-md px-4 h-9 duration-150 hover:bg-opacity-70 transition-all;
}

button.button.success {
  @apply bg-green-600 text-white;
}

button.button.info {
  @apply bg-yellow-500 text-white;
}

button.button.light {
  @apply bg-sky-500 text-white  border-sky-600;
}

button.button.secondary {
  @apply bg-[#272727] text-white;
}

button.button.danger {
  @apply bg-red-600 text-white;
}

button.button.extra-small {
  @apply text-xs px-3 h-7 rounded-sm;
}

div.card-component.information-card {
  @apply h-[124px] bg-white w-full p-4 first:rounded-r-3xl border-x first:border-r-transparent last:border-l-transparent last:rounded-l-3xl;
}

.loader {
  --background: linear-gradient(135deg, #23c4f8, #275efe);
  --shadow: rgba(39, 94, 254, 0.28);
  --text: #6c7486;
  --page: rgba(255, 255, 255, 0.36);
  --page-fold: rgba(255, 255, 255, 0.52);
  --duration: 3s;
  width: 200px;
  height: 140px;
  position: relative;
}

.loader:before,
.loader:after {
  --r: -6deg;
  content: "";
  position: absolute;
  bottom: 8px;
  width: 120px;
  top: 80%;
  box-shadow: 0 16px 12px var(--shadow);
  transform: rotate(var(--r));
}

.loader:before {
  left: 4px;
}

.loader:after {
  --r: 6deg;
  right: 4px;
}

.loader div {
  width: 100%;
  height: 100%;
  border-radius: 13px;
  position: relative;
  z-index: 1;
  perspective: 600px;
  box-shadow: 0 4px 6px var(--shadow);
  background-image: var(--background);
}

.loader div ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.loader div ul li {
  --r: 180deg;
  --o: 0;
  --c: var(--page);
  position: absolute;
  top: 10px;
  left: 10px;
  transform-origin: 100% 50%;
  color: var(--c);
  opacity: var(--o);
  transform: rotateY(var(--r));
  -webkit-animation: var(--duration) ease infinite;
  animation: var(--duration) ease infinite;
}

.loader div ul li:nth-child(2) {
  --c: var(--page-fold);
  -webkit-animation-name: page-2;
  animation-name: page-2;
}

.loader div ul li:nth-child(3) {
  --c: var(--page-fold);
  -webkit-animation-name: page-3;
  animation-name: page-3;
}

.loader div ul li:nth-child(4) {
  --c: var(--page-fold);
  -webkit-animation-name: page-4;
  animation-name: page-4;
}

.loader div ul li:nth-child(5) {
  --c: var(--page-fold);
  -webkit-animation-name: page-5;
  animation-name: page-5;
}

.loader div ul li svg {
  width: 90px;
  height: 120px;
  display: block;
}

.loader div ul li:first-child {
  --r: 0deg;
  --o: 1;
}

.loader div ul li:last-child {
  --o: 1;
}

.loader span {
  display: block;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: 20px;
  text-align: center;
  color: var(--text);
}

@keyframes page-2 {
  0% {
    transform: rotateY(180deg);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  35%,
  100% {
    opacity: 0;
  }

  50%,
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes page-3 {
  15% {
    transform: rotateY(180deg);
    opacity: 0;
  }

  35% {
    opacity: 1;
  }

  50%,
  100% {
    opacity: 0;
  }

  65%,
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes page-4 {
  30% {
    transform: rotateY(180deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  65%,
  100% {
    opacity: 0;
  }

  80%,
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes page-5 {
  45% {
    transform: rotateY(180deg);
    opacity: 0;
  }

  65% {
    opacity: 1;
  }

  80%,
  100% {
    opacity: 0;
  }

  95%,
  100% {
    transform: rotateY(0deg);
  }
}

.ck-editor {
  @apply dark:text-dark-900
}

*::placeholder {
  @apply dark:text-zinc-500/90 text-xs
}

.ck-content.ck-editor__editable {
  @apply max-h-[500px]
}